name: Deploy to EC2

# 언제 실행할 것인가?
on:
  push:
    branches:
      - main  # main 브랜치에 코드가 올라오면 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. GitHub에 올린 코드를 가져오기
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. AWS EC2에 접속해서 파일 전송하기
      - name: Deploy to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}         # EC2 주소
          username: ubuntu                      # 접속 아이디
          key: ${{ secrets.EC2_SSH_KEY }}       # 아까 받은 .pem 키 내용
          source: "index.html"                  # 보낼 파일
          target: "/var/www/html"               # 서버 저장 위치
